<style>
 .md-links {
     min-height: calc(100% - 120px - 5pc - 6em);
     text-align: center;
     overflow: auto;
     padding: 0;
     margin: 0 auto;
     max-width: 320px;
     display: flex;
     justify-content: start;
     flex-direction: row;
     flex-wrap: wrap;
 }
 .article-entry ul, .article-entry ol{
     margin: 0 auto;
 }
 @media screen and (min-width: 680px) {
     .md-links {
         max-width: 640px;
     }
 }

 @media screen and (min-width: 1000px) {
     .md-links {
         max-width: 960px;
     }
 }

 @media screen and (min-width: 1320px) {
     .md-links {
         max-width: 1280px;
     }
 }

 @media screen and (min-width: 1640px) {
     .md-links {
         max-width: 1600px;
     }
 }

 @media screen and (max-width: 480px) {
     .md-links {
         min-height: calc(100% - 200px - 5pc - 6em);
         /* margin-top: 6em; */
     }
 }

 .md-links-item {
     background: #fff;
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
     height: 72px;
     line-height: 15px;
     margin: 20px 10px;
     padding: 0px 0px;
     transition: box-shadow 0.25s;
 }

 .md-links a {
     color: #333;
     text-decoration: none;
     display: flex;
     flex: 1;
 }

 .md-links li {
     /* width: 300px;
        float: left; */
     list-style: none;
     display: flex;
     flex-direction: row;
 }

 .md-links-item img {
     width: 72px;
     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 11px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
 }

 .md-links-item a .desc {
     display: flex;
     flex-direction: column;
     flex: 1;
     justify-content: center;
     align-items: center;
     padding-left: 8px;
     padding-right: 8px;
 }
 .md-links-item .desc div {
     display: flex;
     flex: 1;
     justify-content: center;
     align-items: center;
     line-height: 20px;
     color: #9b9b8c;
 }
 .md-links-item:hover {
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
 }

 .md-links-item a:hover{
     cursor: pointer;
 }

 .md-links-item .desc .md-links-title {
     font-size: 20px;
     color: #f50;
 }

 #scheme-Paradox .mdl-mini-footer{
     clear: left;
 }
 #bottom{
     position: relative;
 }
</style>
<div id="links-archives" class="main-content-wrap">
<ul class="md-links">
    <% if (site.data.links) { %>
        <% for (var i in site.data.links) { %>
            <li class="md-links-item">
                <a href="<%= site.data.links[i].link %>" title="<%= i %>" target="_blank" rel="nofollow">
                    <img src="<%= site.data.links[i].avatar %>" alt="<%= i %>" width="72px"/>
                    <div class="desc">
                        <div class="md-links-title"><%= i %></div>
                        <div><%= site.data.links[i].descr %></div>

                    </div>
                </a>
            </li>
        <% } %>
    <% } %>
</ul>
</div>
<script type="text/ls-javascript" id="page-links-script">
    var adjustFooter = function() {
        if( ($('#bottom').offset().top + $('#bottom').outerHeight() )<$(window).height() ) {
            var footerBottom = $(window).height() - $('#bottom').outerHeight() - $('#bottom').offset().top;
            $('#bottom').css('bottom', '-' + footerBottom + 'px');
        }
    };
    $(document).ready(function() {
        adjustFooter();
    });
</script>
